- hosts: "{{ host }}"
  vars:
    # epel_repo_url:  "https://dl.fedoraproject.org/pub/epel/epel-release-latest-7.noarch.rpm"
    # epel_repo_gpg_key_url: "/etc/pki/rpm-gpg/RPM-GPG-KEY-EPEL-7"
    epel_repofile_path: "/etc/yum.repos.d/epel.repo"
    yum_packages: ["docker" , "python3", "python2-pip"]
    pip_packages: ["docker", "botocore", "boto3" ]

  tasks:
   #- name: Check if EPEL repo is already configured.
   #  stat:
   #    path: "{{ epel_repofile_path }}"
   #  register: epel_repofile_result

  # - name: Import EPEL GPG key.
  #   rpm_key:
  #     key: "{{ epel_repo_gpg_key_url }}"
  #     state: present
  #   register: result
  #   until: result is succeeded
  #   retries: 5
  #   delay: 10
  #   when: not epel_repofile_result.stat.exists
  #   ignore_errors: "{{ ansible_check_mode }}"

  # - name: Install EPEL repo.
  #   yum:
  #     name: "{{ epel_repo_url }}"
  #     state: present
  #   register: result
  #   until: result is succeeded
  #   retries: 5
  #   delay: 10
  #   when: not epel_repofile_result.stat.exists

  - name: "Install packages"
    yum:
       name: "{{ item }}"
       state: latest
    loop: "{{ yum_packages }}"

  - name: "starting docker service"
    service:
      name: "docker"
      state: started
      enabled: yes
  
  - name: "PIP install"
    pip:
      name: "{{ item }}"
      extra_args: --user
    loop: "{{ pip_packages }}"
    tags: "pip"